{{page-progress}}

<h1>Page progress demo</h1>

<ul>
  <li>{{link-to "Introduction" "introduction"}}</li>
  <li>{{link-to "Documents" "documents"}}</li>
  <li>{{link-to "Profile" "profile"}}</li>
</ul>